@model EBMS.Models.statelistmodel

@{
    ViewBag.Title = "state";
    Layout = "~/Views/Shared/_websoft.cshtml";
   
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="container">

    <h2 style="text-align:center;"> State Information </h2>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group ">

        @Html.LabelFor(model => model.state_name, htmlAttributes: new { id = "sn" })

        @Html.EditorFor(model => model.state_name, new { htmlAttributes = new {
        @class ="form-control",placeholder="STATE NAME"}})

        @Html.ValidationMessageFor(model => model.state_name, "", new { @class = "text-danger" })

    </div>

    <div class="form-group ">

        @Html.LabelFor(model => model.state_code, htmlAttributes: new { id = "sn" })

        @Html.EditorFor(model => model.state_code, new { htmlAttributes = new {
        @class ="form-control",placeholder="STATE CODE"}})

        @Html.ValidationMessageFor(model => model.state_code, "", new { @class = "text-danger" })

    </div>

    @ViewBag.message

    <div class="form-group  ">

        <input type="submit" name="Add" value="Add" id="myBtn34" class="button button1 form-control" />
        <br />
        <input type="submit" name="Delete" value="Delete" class="button button2 form-control " />

    </div>

</div>
}
<script>
   
</script>
